
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />	
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>A momentum financial strategy</title>
	
	<meta name="description" content="Describe website for search engines.">
	
	<link rel="shortcut icon" href="./assets/gemFavicon.ico" type="image/x-icon">

	<link rel="stylesheet" type="text/css" href="./css/mainPage.css">
	<link rel="stylesheet" type="text/css" href="./css/chartPage.css">

</head>
<body>

	{{{body}}}

</body>
</html>