
	<div id="backdrop">

		<div id="dollarBorder"></div>
	
			<div id="explaination">The chart will go here.</div>

			<div id="getHome">Take me back <a href="/">home</a>.</div>

	</div>


	<script src="/javascript/chartDetails.js"></script>