
@font-face { src: url("../assets/ToxT.ttf"); font-family: toxT; }
@font-face { src: url("../assets/numTwo.ttf"); font-family: numTwo; }
@font-face { src: url("../assets/numTwoBold.ttf"); font-family: numTwoB; }


html, body {
	margin: 0;
	padding: 0;
}

#explaination {
	margin-top: 4rem;
	font-family: numTwo;
	font-size: 2rem;
	text-align: center;
}

#getHome {
	margin-top: 3rem;	
	font-family: numTwo;
	font-size: 1.6rem;
	text-align: center;
}